streamlit
streamlit-cropper
numpy
tensorflow
ultralytics
opencv-python-headless
Pillow
fastapi
uvicorn[standard]
python-multipartpip install fastapi uvicorn python-multipart
uvicorn api:app --reload --port 8000